<section class="image-text-section my-12 py-12">
    <div class="container mx-auto text-center">
        <!-- Title -->
        <h2 class="text-4xl font-rubrikLight text-primary mb-4">{{ .Params.imageText.title }}</h2>
        <!-- Subtitle -->
        <p class="text-xl font-lightd text-primary mb-6">{{ .Params.imageText.subtitle }}</p>
        <!-- Description -->
        <p class="text-lg text-black mb-6">{{ .Params.imageText.description }}</p>
        <!-- Image -->
        <img src="{{ .Params.imageText.image }}" alt="Odoo Integration Image" class="mx-auto mb-6">
        <!-- Caption -->
        <p class="text-lg text-black">{{ .Params.imageText.caption }}</p>
    </div>
</section>
