<div class="bg-white py-8 shadow-lg">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-rubrikLight text-primary mb-4">Newsletter abonnieren</h2>
        <p class="text-lg text-gray-600 mb-6">Bleiben sie auf dem Laufenden mit unserem Newsletter.</p>
        <form action="#" method="POST" class="flex justify-center items-center">
            <input type="email" name="email" placeholder="Ihre E-Mail..."
                class="border border-gray-300 rounded-l-md py-2 px-4 w-full max-w-sm focus:outline-none focus:ring-2 focus:ring-primary"
                required>
            <button type="submit"
                class="bg-primary text-white font-rubrikBold py-2 px-6 rounded-r-md shadow-lg hover:bg-primary-400 transition-all">
                ABONNIEREN
            </button>
        </form>
    </div>
</div>