# Hugo-generated assets
/public
./public/*
/resources
/public/index.html
/public/index.xml
/public/sitemap.xml

# npm assets
node_modules/
package-lock.json

# ignore system files
.DS_Store

# ignore public folder
/public/*
/public/index.html
/static/css/*

/dist
/scripts

# Obsidian
.obsidian/workspace.json
.obsidian/plugins

# Hugo
hugo_stats.json
.vercel
hugo
tmp