{{ define "main" }}
<main id="main blog-overview">
    {{ partial "hero-blog.html" . }}

    <section class="container mx-auto py-12 px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            {{ range (.Paginate (where .Data.Pages "Type" "post")).Pages }}
            {{ partial "article-preview.html" . }}
            {{ end }}
        </div>
    </section>

    <section class="container w-full mb-24 mt-10">
        <div class="flex justify-center space-x-4">
            <!-- Display previous page link -->
            {{ if .Paginator.HasPrev }}
            <a href="{{ .Paginator.Prev.URL }}" class="text-black hover:underline">&larr; Neuere Posts</a>
            {{ end }}

            {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}" class="text-black hover:underline">Ältere Posts &rarr;</a>
            {{ end }}
        </div>
    </section>

    {{ partial "components/contact-teaser.html" (dict "Title" "Haben Sie eine Geschäftsapplikation, die Sie gerne ablösen möchten?" "Description" "Treten Sie mit uns in Kontakt und wir machen Ihnen ein unverbindliches Angebot." "ButtonLink" "/kontakt" "ButtonText" "KONTAKTIEREN SIE UNS") }}
</main>
{{ end }}