{{ define "main" }}
<main id="main single">

    {{ partial "hero.html" . }}

    <div class="container my-12 py-8">
        <h1 class="text-5xl md:text-6xl font-rubrikLight text-center text-primary leading-tight hyphens-auto mb-4">
            {{ .Title }}
        </h1>

        <article class="prose max-w-none prose-lg stack font-rubrikRegular">
            {{ .Content }}
        </article>
    </div>

    {{ partial "components/contact-teaser.html" (dict "Title" "50,000+ Unternehmen benutzen Odoo um Ihre Geschäfte auszubauen." "Description" "Kontaktieren Sie uns und machen Sie Ihr eigenes Unternehmen zu einem Besonderen." "ButtonLink" "/kontakt" "ButtonText" "KONTAKTIEREN SIE UNS") }}
</main>
{{ end }}