<div id="nav-mobile"
    class="nav-mobile fixed top-0 left-0 w-full bg-white shadow-md transform -translate-x-full transition-transform duration-500 ease-in-out lg:hidden">
    <div class="container">
        <nav class="flex flex-col py-4 space-y-4">


            <a href="{{ "/odoo" | relURL }}" class="text-text-dark hover:text-primary">Odoo</a>


            <!-- Angebot Dropdown -->
            <div class="relative">
                <button
                    class="nav-mobile__button w-full text-left text-text-dark hover:text-primary flex items-center justify-between focus:outline-none">
                    Angebot
                    <svg class="nav-mobile__svg w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M5.5 7.5l4.5 4.5 4.5-4.5H5.5z"></path>
                    </svg>
                </button>
                <div class="nav-mobile__dropdown hidden flex flex-col space-y-2 py-4">
                    <a href="{{ "/odoo-zeiterfassung" | relURL }}"
                        class="text-text-dark hover:text-primary">Zeiterfassung</a>
                    <a href="{{ "/odoo-produktionsplanung" | relURL }}" class="text-text-dark hover:text-primary">
                        Produktionsplanung</a>
                    <a href="{{ "/software-engineering" | relURL }}" class="text-text-dark hover:text-primary">Software
                        Engineering</a>
                    <a href="{{ "/beratung" | relURL }}" class="text-text-dark hover:text-primary">Beratung</a>
                </div>
            </div>

            <a href="{{ "/referenzen" | relURL }}" class="text-text-dark hover:text-primary">Referenzen</a>


            <!-- Unternehmen Dropdown -->
            <div class="relative">
                <button
                    class="nav-mobile__button w-full text-left text-text-dark hover:text-primary flex items-center justify-between focus:outline-none">
                    Unternehmen
                    <svg class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M5.5 7.5l4.5 4.5 4.5-4.5H5.5z"></path>
                    </svg>
                </button>
                <div class="nav-mobile__dropdown hidden flex flex-col space-y-2 py-4">
                    <a href="{{ "/aboutus" | relURL }}" class="text-text-dark hover:text-primary">Über uns</a>
                    <a href="{{ "/partner" | relURL }}" class="text-text-dark hover:text-primary">Partner</a>
                    <a href="{{ "/jobs" | relURL }}" class="text-text-dark hover:text-primary">Jobs</a>
                </div>
            </div>

            <a href="{{ "/blog" | relURL }}" class="block text-text-dark hover:text-primary">Blog</a>

            <span>
                <a href="https://erp.mint-system.ch/contactus"
                    class="inline-block bg-primary text-white font-rubrikBold py-3 px-6 rounded-md shadow-lg hover:bg-secondary transition-all"
                    target="_blank">Kontakt</a>
            </span>
        </nav>
    </div>
</div>