{{ define "main" }}
<main id="main blog">
    <div class="conta§iner mx-auto bg-white p-10 mt-10">
        <h1 class="font-rubrikBold text-3xl">{{.Title}}</h1>
        {{.Content}}
    </div>
</main>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}",
  "image": "{{ with .Params.featured_image }}{{ . }}{{ else }}{{ .Site.Params.default_image }}{{ end }}",
  "author": {
    "@type": "Person",
    "name": "{{ .Site.Params.author }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{ .Site.Title }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.Params.logo }}"
    }
  },
  "datePublished": "{{ .Date }}"
}
</script>
{{ end }}