{{ define "main" }}
<main id="main home z-0">
    {{ partial "hero.html" . }}

    {{ .Content }}

    {{/* {{ partial "components/news-teaser.html" . }}

    {{ partial "components/offer-teaser.html" (dict "teaserTitle" "Unser Angebot" "lead" "Wir evaluieren Ihre
    individuellen Unternehmensprozesse und integrieren die passende Open Source Software." "context" .) }}

    {{ partial "components/about-teaser.html" (dict "teaserTitle" "mint system" "subtitle" "Arbeit nach Plan"
    "description" "Strukturiertes Arbeiten macht uns Freude. Alle unsere Projekte folgen einem durchdachten
    Vorgehensmodell. Mit unseren Kunden vereinbaren wir Ergebnisse. Diese erreichen wir durch konsequente Planung."
    "image" "/assets/images/computing.jpeg" "buttonText" "weiterlesen" "buttonLink" "#") }}

    {{ partial "components/solution-teaser.html" (dict "teaserTitle" "Unsere Lösungen überzeugen" "context" .) }}
    */}}
</main>
{{ end }}