{{ define "main" }}
    {{ $posts := slice }}
    {{ range where .Site.RegularPages "Type" "blogpost" }}
        {{ if in .Params.tags  .Title }}
            {{ $posts = $posts | append . }}
        {{ end }}
    {{ end }}
    {{ $mentions := $posts | symdiff .Data.Pages }}
    {{ $postCount := len $mentions }}

    <main class="main tag px-4">
        <div class="container mt-[78px] md:mt-[112px] mb-2 py-8">
            <h1 class="text-3xl font-rubrikBold mb-6">{{ $postCount}} Artikel</h1>
            <div class="mb-8">
                <div class="inline-flex items-center space-x-2">
                    <span class="bg-gray-200 text-gray-800 text-sm font-rubrikRegular px-3 py-1 rounded-full">
                        <i class="fa fa-tag"></i>
                        {{ .Title }}
                    </span>
                    <a class="text-gray-600 focus:outline-none" href="/blog">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </div>
        <section class="container mx-auto pb-12 px-4">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
                {{ range $mentions }}
                {{ partial "article-preview.html" . }}
                {{ end }}
            </div>
        </section>
    </main>
{{ end }}
