@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RubrikEdgeNew Regular';
    src: url('/assets/fonts/RubrikEdgeNew-Regular.woff2') format('woff2'),
        url('/assets/fonts/RubrikEdgeNew-Regular.woff') format('woff ');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RubrikEdgeNew Light';
    src: url('/assets/fonts/RubrikEdgeNew-Light.woff2') format('woff2'),
        url('/assets/fonts/RubrikEdgeNew-Light.woff') format('woff ');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RubrikEdgeNew Bold';
    src: url('/assets/fonts/RubrikEdgeNew-Bold.woff2') format('woff2'),
        url('/assets/fonts/RubrikEdgeNew-Bold.woff') format('woff ');
    font-weight: bold;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
button {
    @apply font-rubrikRegular;
}