:root {
    /* colors */
    --primary-dark-color: #267372;
    --primary-color: #0B9FA3;
    --secondary-color: #0D8485;
    --tertiary-color: #13D5C4;
    --white-color: #ffffff;
    --footer-color: #F6F6F6;
    --text-dark-color: #202020;
    --text-normal-color: #CCCCCC;
    --text-light-color: #EAEAEA;
    --text-grey-color: #B9B9BA;
    --grey-color: #E9ECEF;
    --text-inverted-color: #ffffff;
    --shadow-hue: #00000066;
    --button-background-color: #13D5C4;
    --button-background-transparent-color: #13D5C433;
    --button-background-hover-color: #0B9FA3;
    --link-active-color: #13D5C4;
    --link-hover-color: #13D5C4;
    --link-border-color: #13D5C4;
    --link-border-active-color: #13D5C4;
    --link-border-hover-color: #202020;
    --link-dot-color: #13D5C4;
    --link-dot-hover-color: #13D5C4;
    --form-input-border-color: #CCCCCC;
    --form-input-focus-hue: #0000001A;

    /* sizes */
    --link-border-size: 1px;
    --nav-border-size: 2px;
    --font-size-header1: 2.8rem;
    /* 48px */
    --font-size-header2: 2.5rem;
    /* 40px */
    --font-size-header3: 1.875rem;
    /* 30px */
    --font-size-header4: 1.5rem;
    /* 24px */
    --font-size-header5: 1.125rem;
    /* 18px */
    --font-size-header6: 1.125rem;
    /* 18px */
    --font-size-text: 1.125rem;
    /* 18px */
    --font-size-text-small: 0.875rem;
    /* 14px */
    --font-size-nav: 1.25rem;
    /* 20px */
    --font-size-button: 1rem;
    /* 16px */
    --form-input-border-size: 1px;

    /* breakpoints */
    --breakpoint-min-xs: 0;
    --breakpoint-min-sm: 576px;
    --breakpoint-min-md: 768px;
    --breakpoint-min-lg: 992px;
    --breakpoint-min-xl: 1200px;
    --breakpoint-max-xs: 0;
    --breakpoint-max-sm: 575px;
    --breakpoint-max-md: 767px;
    --breakpoint-max-lg: 991px;
    --breakpoint-max-xl: 1199px;

    /* radius */
    --default-border-radius: 1rem;
    --image-border-radius: 0.5rem;
    --button-border-radius: 2rem;
    --form-input-border-radius: 0.3rem;

    /* spacing */
    --padding-xs: 0.3rem;
    /* 5px */
    --padding-sm: 0.9375rem;
    /* 15px */
    --padding-md: 1.875rem;
    /* 30px */
    --padding-lg: 3.125rem;
    /* 50px */
    --padding-xl: 4.375rem;
    /* 70px */

    --margin-xs: 0.3rem;
    /* 5px */
    --margin-sm: 0.9375rem;
    /* 15px */
    --margin-md: 1.875rem;
    /* 30px */
    --margin-lg: 3.125rem;
    /* 50px */
    --margin-xl: 4.375rem;
    /* 70px */

    /* navbar sizes */
    --odoo-navbar-height: 46px;
    --navbar-height: 95px;

    /* layers */
    --layer-nav-mobile: 1000;
    --layer-header: 2000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RubrikEdgeNew Regular';
    src: url('/assets/fonts/RubrikEdgeNew-Regular.woff2') format('woff2'),
        url('/assets/fonts/RubrikEdgeNew-Regular.woff') format('woff ');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'RubrikEdgeNew Light';
    src: url('/assets/fonts/RubrikEdgeNew-Light.woff2') format('woff2'),
        url('/assets/fonts/RubrikEdgeNew-Light.woff') format('woff ');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'RubrikEdgeNew Bold';
    src: url('/assets/fonts/RubrikEdgeNew-Bold.woff2') format('woff2'),
        url('/assets/fonts/RubrikEdgeNew-Bold.woff') format('woff ');
    font-weight: bold;
    font-style: normal;
}

th, td {
    border: var(--form-input-border-size) solid var(--form-input-border-color);
    padding: var(--padding-sm);
    text-align: left;
    font-size: var(--font-size-text);
    color: var(--text-dark-color);
}

th {
    background-color: var(--grey-color);
}

h1 {
    @apply font-rubrikBold;
    white-space: break-spaces;
}

h2,
h3,
h4,
h5,
h6 {
    @apply font-rubrikLight;
}

a,
p,
button {
    @apply font-rubrikRegular;
}

/* fixes */
.single.main > .contact-teaser:last-child {
    margin-bottom: -72px;
}

@media screen and (min-width: 768px) {
    .single.main > .contact-teaser:last-child {
        margin-bottom: -96px;
    }
}

/* nav mobile*/
.nav-mobile {
    z-index: 100;
    transform: translateY(-100%);
    transition: all 350ms ease-out;
}

.nav-mobile__open {
    transform: translateY(0%);
    top: 56px;
    transition: all 350ms ease-in;
}

@media screen and (min-width: 768px) {
    .nav-mobile__open {
        top: 82px;
    }
}

.nav-mobile__svg {
    transform: rotate(0deg);
    transition: transform 200ms ease-in-out;
}

.nav-mobile__svg--animated {
    transform: rotate(180deg);
    transition: transform 200ms ease-in-out;
}

.header {
    z-index: 500;
}

.footer {
    background-color: var(--footer-color);
}

.nav__trigger--active {
    outline: 1px solid orange;
}

.stack>*+* {
    margin-block-start: 1.5rem;
}

.stack > h2 {
    margin-block-start: 3rem;
}

.stack h2,
.stack h3 {
    @apply font-rubrikLight;
    /* color: var(--primary-color); */
}

.stack h2 {
    font-size: var(--font-size-header2);
    line-height: 1.25em;
}

.stack h3 {
    font-size: var(--font-size-header3);
}

.stack blockquote {
    padding: 0.5rem 1rem;
    border-left: 5px solid;
    border-color: #DEE2E6;
    font-style: italic;
}

.stack p,
li {
    font-size: var(--font-size-text);
}

.stack p strong {
    font-weight: 700;
}

.stack ol,
.stack ul {
    list-style: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.stack a {
    text-decoration: underline;
}

.stack a:is(.bg-primary) {
    text-decoration: none;
}

a.btn-outline-primary {
    position: relative;
    display: inline-block;
    color: var(--text-dark-color);
    text-align: center;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: var(--button-border-radius);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    z-index: 1;
}

a.btn-outline-primary:hover {
    color: var(--white-color);
    text-decoration: none;
}

a.btn-outline-primary:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -20px;
    z-index: -1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: var(--button-border-radius);
    height: 40px;
    width: 40px;
    background-color: var(--button-background-transparent-color);
    transition: width 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a.btn-outline-primary:hover:before {
    content: '';
    border-radius: var(--button-border-radius);
    height: 40px;
    width: calc(100% + 40px);
    background-color: var(--primary-color);
    transition: width 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


a.btn-outline-secondary {
    position: relative;
    display: inline-block;
    color: var(--white-color);
    text-align: center;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: var(--button-border-radius);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    z-index: 1;
    margin-left: 20px;
}

a.btn-outline-secondary:hover {
    color: var(--primary-color);
    text-decoration: none;
}

a.btn-outline-secondary:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: -20px;
    z-index: -1;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: var(--button-border-radius);
    height: 40px;
    width: 40px;
    background-color: var(--button-background-transparent-color);
    transition: width 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a.btn-outline-secondary:hover:before {
    content: '';
    border-radius: var(--button-border-radius);
    height: 40px;
    width: calc(100% + 40px);
    background-color: var(--white-color);
    transition: width 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.header__logo {
    transition: height 0.15s ease-in-out;
}

.header.header__scrolled .header__logo {
    height: 2.5rem;
    transition: height 0.15s ease-in-out;
}

.footnotes ol {
    list-style: decimal;
}
.footnotes li,
.footnotes p {
    font-size: var(--font-size-text-small)
}
