<div class="bg-gray-200 p-8 shadow-md">
    <h2 class="text-3xl font-bold text-gray-900 mb-4">
        Haben Sie eine Geschäftsapplikation, die Sie gerne ablösen möchten?
    </h2>
    <p class="text-lg text-primary mb-6">
        Treten Sie mit uns in Kontakt und wir machen Ihnen ein unverbindliches Angebot.
    </p>
    <a href="/kontakt"
        class="inline-block bg-primary text-white font-bold py-3 px-6 rounded-md shadow-lg hover:bg-teal-400 transition-all">
        KONTAKTIEREN SIE UNS
    </a>
</div>