{{ if .Params.hero_image }}
<section id="hero" class="z-100 relative h-screen bg-cover bg-center" style="background-image: url('{{ .Params.hero_image }}')">
    <div class="container relative z-10 flex flex-col items-center justify-center h-full">
        <div class="absolute flex-1 bottom-10 md:bottom-20 left-5 z-10 text-white">
            <h1 class="text-5xl md:text-6xl font-rubrikBold text-white leading-tight hyphens-auto">
                {{ .Params.hero_text| markdownify }}
            </h1>
            {{ if .Params.hero_subtext }}
            <h2 class="text-xl md:text-2xl font-rubrikLight md:w-2/3 text-white mt-4 hyphens-auto">
                {{ .Params.hero_subtext }}
            </h2>
            {{ end }}

            {{ if .Params.hero_linktext }}
            <a href="{{ .Params.hero_link }}"
                class="inline-block mt-8 py-2 bg-secondary rounded-2xl p-4 text-white uppercase text-lg font-rubrikBold hover:bg-white hover:text-primary">
                {{ .Params.hero_linktext }}
            </a>
            {{ end }}
        </div>
    </div>
    <img class="absolute -z-1 w-full left-0 bottom-0 opacity-30" src="assets/svg/cover-overlay.svg" alt="">
</section>
{{ end }}