{{ define "main" }}
<main class="main blog-posts" id="main">
    {{ partial "hero/hero-blog-post.html" . }}

    <div class="container mx-auto mt-12 md:mt-[96px]">
        <article class="prose max-w-none prose-lg stack font-rubrikRegular " id="content">
            {{ .Content }}
        </article>

        <div class="py-6 border-t border-gray-300 mt-8">
            <h3 class="text-xl font-rubrikLight mb-4">Diesen Beitrag teilen</h3>
            <div class="flex space-x-4">
                <a class="w-8 h-8" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">
                    <i class="w-full fa fa-facebook-square"></i>
                </a>
                <a class="w-8 h-8" href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .Permalink }}"
                    target="_blank">
                    <i class="w-full fa fa-twitter-square "></i>
                </a>
                <a class="w-8 h-8"
                    href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{ .Title }}"
                    target="_blank">
                    <i class="w-full fa fa-linkedin-square "></i>
                </a>
            </div>
        </div>

        <div class="py-6 border-t border-gray-300">
            <h3 class="text-xl font-rubrikLight mb-4">Stichwörter</h3>
            <div class="flex space-x-2">
                {{ range .Params.tags }}
                <a  href="{{ "tags/" | relURL }}{{ . | urlize }}" class="font-rubrikRegular inline-block bg-gray-200 text-black text-xs px-2 py-1 border-2 border-transparent rounded hover:border-gray-400 hover:border-2">{{ . }}</a>
                {{ end }}
            </div>
        </div>
    </div>

    {{ partial "components/contact-teaser.html" (dict "Title" "Haben Sie eine Geschäftsapplikation, die Sie gerne ablösen möchten?" "Description" "Treten Sie mit uns in Kontakt und wir machen Ihnen ein unverbindliches Angebot." "ButtonLink" "/kontakt" "ButtonText" "KONTAKTIEREN SIE UNS") }}
</main>
{{ end }}