<div class="bg-primary text-white py-20 px-10 bg-cover " style="background-image: url('assets/background/bg-kreise.png')">
    <div class="container py-12 my-12">
        <h2 class="text-lg font-rubrikLight uppercase mb-12">{{ .Get "headingSmall" }}</h2>
        <h1 class="text-4xl font-rubrikBold mb-4">{{ .Get "headingLarge" }}</h1>

        <div class="mt-8">
            <p class="text-lg">{{ .Get "companyName" }}</p>
            <p>{{ .Get "addressLine1" }}</p>
            <p>{{ .Get "addressLine2" }}</p>
            <p class="mt-4">
                <a href="mailto:{{ .Get "email" }}" class="text-white underline">{{ .Get "email" }}</a>
            </p>
            <p>
                <a href="tel:{{ .Get "phone" }}" class="text-white underline">{{ .Get "phone" }}</a>
            </p>
        </div>
    </div>
</div>