<section id="bubble-background" class="bg-primary mt-12 text-white py-12 px-4 md:p-20 bg-cover"
    style="background-image: url('/assets/background/bg-kreise.webp')">
    <div class="container">
        <h3 class="text-lg font-rubrikLight uppercase mb-12">{{ .Get "headingSmall" }}</h2>
        <h2 class="text-5xl font-rubrikBold mb-4">{{ .Get "headingLarge" }}</h1>

        <div class="mt-8">
            <p class="text-lg">{{ .Get "companyName" }}</p>
            <p>{{ .Get "addressLine1" }}</p>
            <p>{{ .Get "addressLine2" }}</p>

            <a href="mailto:{{ .Get 'email' }}" class="inline-block mt-4 text-white underline">{{ .Get "email" }}</a>
            <a href="tel:{{ .Get 'phone' }}" class="block text-white underline">{{ .Get "phone" }}</a>
        </div>
    </div>
</section>