<section id="contact-teaser" class="contact-teaser bg-gray-200 p-8 shadow-md mt-[96px]">
    <div class="container">
        <h2 class="text-3xl font-rubrikRegular text-black mb-4 md:w-3/4">
            {{ .Get "title" }}
        </h2>
        <p class="text-2xl font-rubrikLight text-primary-dark mb-6 md:w-3/4">
            {{ .Get "paragraph" }}
        </p>
        <a href="{{ .Get "buttonLink"}}" target="{{ .Get "target" }}" 
            class="inline-block bg-primary text-white font-rubrikBold py-3 px-6 rounded-md shadow-lg hover:bg-secondary transition-all">
            {{ .Get "buttonText" }}
        </a>
    </div>
</section>
