<section id="feature-list" class="scroll-mt-[78px] md:scroll-mt-[112px] mt-12 md:mt-[96px] bg-white" id='{{ .Get "id" }}'>
    <div class="container mx-auto text-center">
        <h2 class="text-5xl font-rubrikLight uppercase text-primary mb-2 hyphens-auto">{{ .Get "title" }}</h2>
        <p class="text-lg text-black mb-12 mx-auto w-1/2">{{ .Get "lead" }}</p>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            {{ $list := index .Page.Params (.Get "list" ) }}
            {{ range $list }}
            <div class="text-center">
                <img src="{{ .icon }}" alt="{{ .title }} Icon" class="w-24 h-24 md:w-60 md:h-60 mx-auto mb-6">
                <h3 class="text-3xl font-rubrikLight text-primary mb-2">{{ .title }}</h3>
                <p class="text-lg text-black mb-6">{{ .lead }}</p>
                {{ if .link }}
                <a href="{{ .link }}" class="btn btn-outline-primary inline-block text-primary font-rubrikRegular hover:underline">
                    {{ .button_text | default "weiterlesen" }}
                </a>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</section>