<section class="icon-list container my-12 md:my-[72px] mx-auto text-center">
    <h2 class="text-5xl font-rubrikLight uppercase text-primary mb-2 hyphens-auto">{{ .Get "title" }}</h2>
    <p class="text-lg md:w-2/3 mx-auto text-black mb-10">{{ .Get "lead" }}</p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        {{ $list := index .Page.Params (.Get "features" ) }}
        {{ range $list }}
        <div class="flex items-start space-x-4 p-4">
            <img src="{{ .icon }}" alt="{{ .title }} Icon" class="w-12 h-12 lg:w-[70px] lg:h-[70px]">
            <div class="flex flex-col items-start">
                <h4 class="font-rubrikBold text-left text-2xl text-dark">{{ .title }}</h4>
                {{ if .lead }}
                    <p class="mt-1 text-lg font-rubrikRegular text-left">{{ .lead }}</p>
                {{ end }}
                {{ if .links }}
                <div class="flex flex-wrap justify-start gap-x-2" role="list">
                    {{ range .links }}
                    <a href="{{ .url }}" class="inline-block text-lg text-black opacity-60 underline">{{ .title }}</a>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}
    </div>
    <p class="text-lg md:w-2/3 mx-auto text-black mt-10">{{ .Get "annotation" }}</p>
</section>