<section class="flex flex-col md:flex-row items-center justify-between my-12 mx-auto container">
    <div class="md:w-1/2 text-left mb-8 md:mb-0">
        <h2 class="text-5xl font-rubrikLight text-primary mb-2">
            {{ .Get "heading" }}
        </h2>
        <p class="text-lg font-rubrikRegular mb-4">{{ .Get "description" }}</p>
        
        {{ if .Get "buttonLink" }}
        <a href="{{ .Get "buttonLink" }}" class="ml-[20px] btn-outline-primary items-center text-black font-rubrikRegular hover:text-white transition">
            {{ .Get "buttonText" }}
        </a>
        {{ end }}
    </div>
    
    <div class="md:w-1/2 lg:w-1/3 mb-8 md:mb-0">
        <img src="{{ .Get "image" }}" alt="" class="rounded-lg w-full">
    </div>
</section>
