<section id="intro-section" class="container mt-12 md:mt-[96px] flex flex-col md:flex-row items-center justify-between bg-white">
    <div class="flex-1">
        <img src="{{ .Get "image" }}" alt="Mint System Team" class="w-full max-w-md mx-auto md:mr-8">
    </div>

    <div class="flex-1 max-w-md mt-8 md:mt-0 md:ml-8">
        <h2 class="text-3xl font-rubrikLight text-primary">{{ .Get "title" }}</h2>
        <p class="mt-4 text-black">
            {{ .Get "description" }}
        </p>
    </div>
</section>
