<section id="partners" class="container max-w-[855px] mt-[96px] mx-auto">
    <div class="mb-8">
        {{ $partners := site.Data.partners }}
        {{ $currentTag := "" }}

        {{ range $partners }}
            {{ if ne $currentTag .tag }}
                {{ if $currentTag }}
                </ul>
                {{ end }}
                <h3 class="text-lg font-rubrikRegular text-black mb-2">{{ .tag }}</h3>
                <ul class="list-disc pl-5 mb-5">
                {{ $currentTag = .tag }}
            {{ end }}
            <li class="mb-2">
                <a href="{{ .link }}" class="text-black underline">{{ .name }}</a>
            </li>
        {{ end }}
        </ul>
    </div>
</section>
