<section id="references" class="container mt-[96px]">
    <div class="grid md:grid-cols-2 gap-12 md:gap-24">
        {{ range site.Data.references }}
        <article class="reference">
            {{ if .image }}
            <div class="inline-block rounded-full w-48 overflow-hidde mb-4">
                <img class="object-cover " src="{{ .image }}" alt="{{ .name }}">
            </div>
            {{ end }}

            <h4 class="text-2xl mb-2 text-black">{{ .name }}</h4>
            <p class="mb-2">{{ .category }}</p>
            <p class="text-lg text-black">{{ .description }}</p>
            {{ if .website }}
                <a href="{{.website}}"
                    class="inline-block mt-4 bg-primary text-white font-rubrikBold py-3 px-6 rounded-md shadow-lg hover:bg-secondary transition-all"
                    target="_blank">
                    Zur Webseite
                </a>
            {{ end }}
        </article>
        {{ end }}
    </div>

</section>