<section id="text-image-two-col" class="mt-[96px]">
    <div class="container md:py-12 mx-auto grid grid-cols-1 md:grid-cols-2 items gap-8">
        <div class="my-auto">
            <h2 class="text-5xl mb-4 font-rubrikBold text-primary">
                {{ .Get "title" }} <br> <span class="font-rubrikLight">{{ .Get "subtitle" }}</span>
            </h2>

            <p class="text-lg mb-6">
                {{ .Get "description" }}
            </p>

            <p class="text-lg mb-6">
                {{ .Get "description2" }}
            </p>
            
            {{ if and (.Get "buttonLink") (.Get "buttonText") }}    
            <a href="{{ .Get "buttonLink" }}" aria-label="Mehr erfahren"  class="btn-outline-primary ml-4 items-center text-primary-200 font-rubrikRegular hover:text-white transition">
                {{ .Get "buttonText" }}
            </a>
            {{ end }}
        </div>
        <div class="flex justify-center md:justify-end">
            <img src="{{ .Get "image" }}" alt="Team working" class="object-cover rounded-lg w-full">
        </div>
    </div>
</section>
