<div class="my-12 md:my-[72px] container md:w-2/3">
    <h2 class="text-5xl font-rubrikLight uppercase text-primary mb-2 hyphens-auto">{{ .Get "title" }}</h2>
    <p class="text-lg mt-4">
        {{ .Get "description1" }}
    </p>
    <p class="text-lg mt-4">
        {{ .Get "description2" }}
    </p>
    <p class="text-lg mt-4">
        {{ .Get "description3" }}
    </p>
    {{ if .Get "buttonLink" }}
        <div class="mt-6">
            <a href="{{ .Get "buttonLink" }}" class="inline-block bg-primary text-white font-rubrikBold py-3 px-6 rounded-md shadow-lg hover:bg-secondary transition-all">{{ .Get "buttonText" }}</a>
        </div>
    {{ end }}
</div>